<h1 class="titulo-principal">Presidência</h1>

<nav class="navbar">
    <ul>
        <li>Documentos</li>
        <li>Gestão</li>
    </ul>
</nav>

<div class="container">
    <div class="section">
        <h3>Avisos</h3>
    </div>
    
    <div class="section">
        <h3>Tasks</h3>
        <p>OBS: Essas tasks não podem estar relacionadas com projetos</p>
    </div>
    
    <div class="section">
        <h3>Reuniões</h3>
    </div>

    <div class="section">
        <h3>Metas</h3>
    </div>
</div>

